//SIZE
$headerHeight: 4.5rem;
$asideWidth: 25rem;
$footerHeight: 4rem;

//Animation
$sidebarSpeed: 0.5s;
//MEDIA DIR
$tablet-width: 768px;
$desktop-width: 1024px;

//COLOR
//header
$dark-header-1: #595959;
$dark-header-2: #424345;
$green-poit: #85ff85;
$red-poit: #f00;
//Rooms
//title
$grey-title-1: #f3f3f3;
$grey-title-2: #e5e5e5;

$grey-title-3: #f5f5f5;
$grey-title-4: #bebebe;

$blue-font: #2e5f95;
//Users

//chat
//bg
$blue-chat: #dbf4fd;
$grey-chat: #f0f4f8;
$grey-rooms: #f4f4f4;

//borders
$grey-bord-1: #dedede;
$grey-bord-2: #c9c9c9;
$grey-bord-3: #ccc;
//font
$grey-font: #848484;
$black: #000;
$white: #fff;
// Font
$font-path: "../fonts";